<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<bean id="address"
		class="Com.spring.SpringQualifierAnnotationDemo.Address">
		<property name="doorno" value="eeee" />
		<property name="street" value="FFF" />
		<property name="city" value="GGG" />
	</bean>
	
	<bean id="address1"
		class="Com.spring.SpringQualifierAnnotationDemo.Address">
		<property name="doorno" value="HHHH" />
		<property name="street" value="IIII" />
		<property name="city" value="JJJJ" />
	</bean>
	
	<bean id="emp"
		class="Com.spring.SpringQualifierAnnotationDemo.Employee">
		<property name="eid" value="1111" />
		<property name="ename" value="dddd" />

	</bean>
<!-- 	FOR ENABLING AUTOWIRE ANNOTATION :	-->		
 	
 		<context:annotation-config/>
	
</beans>
